<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Movie Rental: <%= yield(:title)%></title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<%if signed_in? %>
		<%= link_to "Sign out", signout_path, method: "delete", style: 'float:right', class: 'btn btn-primary btn-lg'%><br>
	<%end%>
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
